GitFSMonitor/.git/
VSCode/.git/

VSCode/.venv/
VSCode/.gitignore
VSCode/README.md
VSCode/main.py

GitFSMonitor/execution/
GitFSMonitor/.gitignore
GitFSMonitor/README.md
GitFSMonitor/main.py

whitepaper.md